/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2017, 14:40:05
    Author     : ander
*/



#esquerda{
   height: 100%;
   width: 50px;
   background: #5b5b5b;
   position: absolute;
   left: 0%;
   
   
}
#direita{
   height: 100%;
   width: 50px;
   background: #5b5b5b;
   position: absolute;
   right: 0%;
}
#cima{
   height: 50px;
   width: 100%;
   background: #5b5b5b;
   position: absolute;
   top: 0%;
}
#baixo{
   height: 50px;
   width: 100%;
   background: #5b5b5b;
   position: absolute;
   bottom: -2%; 
  
}

#baixo1{
   height: 25px;
   width: 100%;
   background: #5b5b5b;
   position: absolute;
   bottom: 0px; 
  
}

